body {
    background: linear-gradient(135deg, #420570, #7810A8);
    padding: 0;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    color: white
}

#main-heading {
    text-align: center;
    font-size: 32px;
    color: white;
    margin-bottom: 20px; 
}


.about-text {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 20px; 
    line-height: 1.5; 
}


.founder-text {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}


    button {
    background-color: #007BFF; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer;
    margin: 10px; 
}

button:hover {
    background-color: #0056b3; 
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 20px;
  }
  
  .game-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s;
  }
  
  .game-thumbnail:hover {
    transform: scale(1.05);
  }

  a {
    color: blue; 
  }
  
  a:hover {
    color: darkblue; 
  }

  .paragraph-text {
    text-align: center;
    font-size: 15px;
    color: white;
    margin-bottom: 20px; 
    line-height: 1.5;
    width: 85%;
  }

  .worker1-text {
    text-align: center;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
  }

  .worker2-text {
    text-align: center;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
  }


  .creator-text {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }

  h1.custom-text{
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 20px; 
  }

  footer {
    color: white;
  }